/*
* Created by Boris on 12/16/2015 @ 7:28 PM
* Contains custom application style & multi-resolution media queries
*/

/** { border: 1px solid red; }*/

body {

   /*  Dims background but highlights content area by leaving it #000 */
   /*background: #F0F0F0;*/

}

#adsSidebarButton {
   cursor:pointer;
}

.ui.vertical.menu {
   font-size: large;
}

.footerWidth         { width: 80%; }

#footer {
   position: fixed;
   bottom: 0;
   height: 30px;
   text-align: center;
   border-radius: 5px;
   /*background-color: lightgrey;*/
}

.footerColor {
   color: mintcream;
   /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0NjQ3QSIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzI1NTZCIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg==);*/
   background: #004687;
   overflow: hidden;
}

.ui.inverted.menu {
   background: #004687;
}

a {
   color: #004687;
}

#errmsg
{
   color: #B81D18;
}

.siteHeaderRed {
   color: #B81D18;
}