/*
* Created by Boris on 12/16/2015 @ 7:28 PM
* Contains custom application style & multi-resolution media queries
*/

/* FOR DEBUG ONLY: ALL BORDERS VISIBLE */
/* * { border: 1px solid red; } */

/* Dims background but highlights content area by leaving it #000
*  Removed .pushable using JQuery; dimming no longer works but that may be preferrable
*  TODO: investigate why dimmable breaks when removing .pushable from body el
*/

body              { background: #B6B6B6; }
a                 { cursor: pointer; }

/*
* Excellent solution for Semantic UI issues #4124 and #4873
* Author; ascheffe-umd
* https://github.com/Semantic-Org/Semantic-UI/issues/4873 */
.ui.message .list:not(.ui) li:before {
   position: absolute;
   content: "\2022";
   left: -1em;
   height: 100%;
   vertical-align: baseline;
}

#horizontalMenu {
   margin-top: 0;
}

.lightgray {
   color: lightgray;
}

.main.ui.container {
   width: auto;
   padding-right: 40px;
}

#adsProgress {
   width: auto; margin-right: 40px;
}

#horizontalMenu {
   margin-right: 40px;  margin-bottom: 0; padding-bottom: 0; border: none;
}
#integerErrorMsg  { color: #B81D18; }
.ui.progress      { margin: 1em 0; }
.ui.vertical.menu { font-size: large; }
.ui.inverted.menu { background: #004687; }
.siteBlueColor  { color: #004687; }


.siteHeaderColor  { color: #B81D18; }
.custom_hr_style {
   border-style: double;
   border-width: 4px;
   color: #B81D18;
}
.ui.progress.success .bar {
   background-color: #008741 !important;
}
#footer {
   position: fixed;
   bottom: 0;
   height: 30px;
   text-align: center;
   border-radius: 5px;
   width: 80%;
   filter: none;
   margin-left: 280px;
}

.footerColor {
   color: mintcream;
   background: #004687;
   overflow: hidden;
}

.prominentText {
   font-weight: 700;
   font-size: large;
}

.expandContent {
   margin-left: 40px !important;
}
.contractContent {
   margin-left: 280px !important;
}

button:disabled {
   cursor: not-allowed;
}

body {
   scrollbar-base-color:         #a9c1c2;
   scrollbar-3dlight-color:      #C0C0C0;
   scrollbar-highlight-color:    #C0C0C0;
   scrollbar-track-color:        #afb6b7;
   scrollbar-arrow-color:        #ffffff;
   scrollbar-shadow-color:       #C0C0C0;
   scrollbar-dark-shadow-color:  #C0C0C0;
}

/* Chrome and -webkit scroll-bar */
::-webkit-scrollbar {
   width: 13px;
   height: 13px;
}
::-webkit-scrollbar-corner {
   background-image: url(../../resources/images/scroll_bar_blue/corner.png);
   background-repeat: no-repeat;
}
::-webkit-scrollbar-corner:window-inactive {
   background-image: url(../../resources/images/scroll_bar_blue/corner-inactive.png);
}
::-webkit-resizer {
   background-image: url(../../resources/images/scroll_bar_blue/resizer.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}
::-webkit-resizer:window-inactive {
   background-image: url(../../resources/images/scroll_bar_blue/resizer-inactive.png);
}
::-webkit-scrollbar-track-piece:disabled {
   display: none !important;
}
::-webkit-scrollbar-button:disabled {
   display: none !important;
}
::-webkit-scrollbar-track:disabled {
   margin: 6px;
}

/* Horizontal Scrollbar Styles */
::-webkit-scrollbar:horizontal {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button.png) 0 2 0 2;
   border-color: transparent;
   border-width: 0 2px;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-button-background.png);
   background-repeat: repeat-x;
}
::-webkit-scrollbar:horizontal:corner-present {
   border-right-width: 0;
}
::-webkit-scrollbar-track:horizontal:disabled:corner-present {
   margin-right: 5px;
}
::-webkit-scrollbar:horizontal:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-inactive.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-button-background-inactive.png);
}
::-webkit-scrollbar-thumb:horizontal {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-thumb.png) 0 13 0 13;
   border-color: transparent;
   border-width: 0 13px;
   min-width: 20px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-thumb-hover.png) 0 13 0 13;
}
::-webkit-scrollbar-thumb:horizontal:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-thumb-active.png) 0 13 0 13;
}
::-webkit-scrollbar-thumb:horizontal:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-thumb-inactive.png) 0 13 0 13;
}
::-webkit-scrollbar-track-piece:horizontal:start:no-button,
.double-end::-webkit-scrollbar-track-piece:horizontal:start,
.none::-webkit-scrollbar-track-piece:horizontal:start {
   margin-left: 6px;
}
::-webkit-scrollbar-track-piece:horizontal:end:no-button,
.double-start::-webkit-scrollbar-track-piece:horizontal:end,
.none::-webkit-scrollbar-track-piece:horizontal:end {
   margin-right: 6px;
}
::-webkit-scrollbar-track-piece:horizontal:end:no-button:corner-present,
.double-start::-webkit-scrollbar-track-piece:horizontal:end:corner-present,
.none::-webkit-scrollbar-track-piece:horizontal:end:corner-present {
   margin-right: 5px;
}
:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:horizontal:start:single-button,
:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:horizontal:start:double-button,
.single::-webkit-scrollbar-track-piece:horizontal:start, .double-start::-webkit-scrollbar-track-piece:horizontal:start,
.double-both::-webkit-scrollbar-track-piece:horizontal:start {
   margin-left: -6px;
}
:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:horizontal:end:single-button,
:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:horizontal:end:double-button,
.single::-webkit-scrollbar-track-piece:horizontal:end, .double-end::-webkit-scrollbar-track-piece:horizontal:end,
.double-both::-webkit-scrollbar-track-piece:horizontal:end {
   margin-right: -6px;
}
::-webkit-scrollbar-track:horizontal:disabled {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track-disabled.png) 0 13 0 13;
   border-color: transparent;
   border-width: 0 13px;
}
::-webkit-scrollbar-track-piece:horizontal:decrement {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track.png) 0 13 0 13;
   border-color: transparent;
   border-width: 0 0 0 13px;
}
::-webkit-scrollbar-track-piece:horizontal:decrement:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track-hover.png) 0 13 0 13;
}
::-webkit-scrollbar-track-piece:horizontal:decrement:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track-active.png) 0 13 0 13;
}
::-webkit-scrollbar-track-piece:horizontal:increment {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track.png) 0 13 0 13;
   border-color: transparent;
   border-width: 0 13px 0 0;
}
::-webkit-scrollbar-track-piece:horizontal:increment:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track-hover.png) 0 13 0 13;
}
::-webkit-scrollbar-track-piece:horizontal:increment:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-track-active.png) 0 13 0 13;
}
::-webkit-scrollbar-button:horizontal {
   width: 20px;
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button.png) 0 2 0 2;
   border-color: transparent;
   border-width: 0 2px;
}
::-webkit-scrollbar-button:horizontal:decrement {
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background.png);
   background-repeat: no-repeat, repeat-x;
   background-position: 2px 3px, 0 0;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-hover.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-hover.png);
}
::-webkit-scrollbar-button:horizontal:decrement:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-active.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-active.png);
}
::-webkit-scrollbar-button:horizontal:decrement:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-inactive.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-inactive.png);
}
::-webkit-scrollbar-button:horizontal:increment {
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background.png);
   background-repeat: no-repeat, repeat-x;
   background-position: 7px 3px, 0 0;
}
::-webkit-scrollbar-button:horizontal:increment:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-hover.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-hover.png);
}
::-webkit-scrollbar-button:horizontal:increment:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-active.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-active.png);
}
::-webkit-scrollbar-button:horizontal:increment:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/horizontal-button-inactive.png) 0 2 0 2;
   background-image: url(../../resources/images/scroll_bar_blue/horizontal-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/horizontal-button-background-inactive.png);
}
:not(.single)::-webkit-scrollbar-button:double-button:horizontal:start:decrement,
.double-start::-webkit-scrollbar-button:horizontal:start:decrement,
.double-both::-webkit-scrollbar-button:horizontal:start:decrement {
   width: 14px;
   border-right-width: 0;
   background-position: 2px 3px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:horizontal:start:increment,
.double-start::-webkit-scrollbar-button:horizontal:start:increment,
.double-both::-webkit-scrollbar-button:horizontal:start:increment {
   background-position: 3px 3px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:decrement,
.double-end::-webkit-scrollbar-button:horizontal:end:decrement,
.double-both::-webkit-scrollbar-button:horizontal:end:decrement {
   background-position: 7px 3px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:increment,
.double-end::-webkit-scrollbar-button:horizontal:end:increment,
.double-both::-webkit-scrollbar-button:horizontal:end:increment {
   width: 14px;
   border-left-width: 0;
   background-position: 3px 3px, 0 0;
}
::-webkit-scrollbar-button:horizontal:end:increment:corner-present {
   border-right-width: 0;
   width: 19px;
}
:not(.single)::-webkit-scrollbar-button:double-button:horizontal:end:increment:corner-present,
.double-end::-webkit-scrollbar-button:horizontal:end:increment:corner-present,
.double-both::-webkit-scrollbar-button:horizontal:end:increment:corner-present {
   width: 13px;
}

/* Vertical Scrollbar Styles */
::-webkit-scrollbar:vertical {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button.png) 2 0 2 0;
   border-color: transparent;
   border-width: 2px 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-button-background.png);
   background-repeat: repeat-y;
}
::-webkit-scrollbar:vertical:corner-present {
   border-bottom-width: 0;
}
::-webkit-scrollbar-track:vertical:disabled:corner-present {
   margin-bottom: 5px;
}
::-webkit-scrollbar:vertical:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-inactive.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-button-background-inactive.png);
}
::-webkit-scrollbar-thumb:vertical {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-thumb.png) 13 0 13 0;
   border-color: transparent;
   border-width: 13px 0;
   min-height: 20px;
}
::-webkit-scrollbar-thumb:vertical:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-thumb-hover.png) 13 0 13 0;
}
::-webkit-scrollbar-thumb:vertical:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-thumb-active.png) 13 0 13 0;
}
::-webkit-scrollbar-thumb:vertical:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-thumb-inactive.png) 13 0 13 0;
}
::-webkit-scrollbar-track-piece:vertical:start:no-button,
.double-end::-webkit-scrollbar-track-piece:vertical:start,
.none::-webkit-scrollbar-track-piece:vertical:start {
   margin-top: 6px;
}
::-webkit-scrollbar-track-piece:vertical:end:no-button,
.double-start::-webkit-scrollbar-track-piece:vertical:end,
.none::-webkit-scrollbar-track-piece:vertical:end {
   margin-bottom: 6px;
}
::-webkit-scrollbar-track-piece:vertical:end:no-button:corner-present,
.double-start::-webkit-scrollbar-track-piece:vertical:end:corner-present,
.none::-webkit-scrollbar-track-piece:vertical:end:corner-present {
   margin-bottom: 5px;
}
:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:vertical:start:single-button,
:not(.none):not(.double-end)::-webkit-scrollbar-track-piece:vertical:start:double-button,
.single::-webkit-scrollbar-track-piece:vertical:start, .double-start::-webkit-scrollbar-track-piece:vertical:start,
.double-both::-webkit-scrollbar-track-piece:vertical:start {
   margin-top: -6px;
}
:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:vertical:end:single-button,
:not(.none):not(.double-start)::-webkit-scrollbar-track-piece:vertical:end:double-button,
.single::-webkit-scrollbar-track-piece:vertical:end,
.double-end::-webkit-scrollbar-track-piece:vertical:end,
.double-both::-webkit-scrollbar-track-piece:vertical:end {
   margin-bottom: -6px;
}
::-webkit-scrollbar-track:vertical:disabled {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track-disabled.png) 13 0 13 0;
   border-color: transparent;
   border-width: 13px 0;
}
::-webkit-scrollbar-track-piece:vertical:decrement {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track.png) 13 0 13 0;
   border-color: transparent;
   border-width: 13px 0 0 0;
}
::-webkit-scrollbar-track-piece:vertical:decrement:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track-hover.png) 13 0 13 0;
}
::-webkit-scrollbar-track-piece:vertical:decrement:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track-active.png) 13 0 13 0;
}
::-webkit-scrollbar-track-piece:vertical:increment {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track.png) 13 0 13 0;
   border-color: transparent;
   border-width: 0 0 13px 0;
}
::-webkit-scrollbar-track-piece:vertical:increment:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track-hover.png) 13 0 13 0;
}
::-webkit-scrollbar-track-piece:vertical:increment:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-track-active.png) 13 0 13 0;
}
::-webkit-scrollbar-button:vertical {
   height: 20px;
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button.png) 2 0 2 0;
   border-color: transparent;
   border-width: 2px 0;
}
::-webkit-scrollbar-button:vertical:decrement {
   background-image: url(../../resources/images/scroll_bar_blue/vertical-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background.png);
   background-repeat: no-repeat, repeat-y;
   background-position: 3px 3px, 0 0;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-hover.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-hover.png);
}
::-webkit-scrollbar-button:vertical:decrement:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-active.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-active.png);
}
::-webkit-scrollbar-button:vertical:decrement:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-inactive.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-decrement-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-inactive.png);
}
::-webkit-scrollbar-button:vertical:increment {
   background-image: url(../../resources/images/scroll_bar_blue/vertical-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background.png);
   background-repeat: no-repeat, repeat-y;
   background-position: 3px 8px, 0 0;
}
::-webkit-scrollbar-button:vertical:increment:hover {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-hover.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-hover.png);
}
::-webkit-scrollbar-button:vertical:increment:active {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-active.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-active.png);
}
::-webkit-scrollbar-button:vertical:increment:window-inactive {
   -webkit-border-image: url(../../resources/images/scroll_bar_blue/vertical-button-inactive.png) 2 0 2 0;
   background-image: url(../../resources/images/scroll_bar_blue/vertical-increment-arrow.png),
   url(../../resources/images/scroll_bar_blue/vertical-button-background-inactive.png);
}
:not(.single)::-webkit-scrollbar-button:double-button:vertical:start:decrement,
.double-start::-webkit-scrollbar-button:vertical:start:decrement,
.double-both::-webkit-scrollbar-button:vertical:start:decrement {
   height: 14px;
   border-bottom-width: 0;
   background-position: 3px 3px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:vertical:start:increment,
.double-start::-webkit-scrollbar-button:vertical:start:increment,
.double-both::-webkit-scrollbar-button:vertical:start:increment {
   background-position: 3px 4px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:decrement,
.double-end::-webkit-scrollbar-button:vertical:end:decrement,
.double-both::-webkit-scrollbar-button:vertical:end:decrement {
   background-position: 3px 8px, 0 0;
}
:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:increment,
.double-end::-webkit-scrollbar-button:vertical:end:increment,
.double-both::-webkit-scrollbar-button:vertical:end:increment {
   height: 14px;
   border-top-width: 0;
   background-position: 3px 4px, 0 0;
}
::-webkit-scrollbar-button:vertical:end:increment:corner-present {
   border-bottom-width: 0;
   height: 19px;
}
:not(.single)::-webkit-scrollbar-button:double-button:vertical:end:increment:corner-present,
.double-end::-webkit-scrollbar-button:vertical:end:increment:corner-present,
.double-both::-webkit-scrollbar-button:vertical:end:increment:corner-present {
   height: 13px;
}
/* Forced Scrollbar Mode Styles */
.single::-webkit-scrollbar-button:start:decrement,
.single::-webkit-scrollbar-button:end:increment {
   display: block;
}
.single::-webkit-scrollbar-button:start:increment,
.single::-webkit-scrollbar-button:end:decrement {
   display: none;
}
.double-end::-webkit-scrollbar-button:start { display: none; }
.double-end::-webkit-scrollbar-button:end { display: block; }
.double-start::-webkit-scrollbar-button:start { display: block; }
.double-start::-webkit-scrollbar-button:end { display: none; }
.double-both::-webkit-scrollbar-button { display: block; }
.none::-webkit-scrollbar-button { display: none; }

/* NOTHING BELOW THIS LINE */
/* NOTHING BELOW THIS LINE */
/* NOTHING BELOW THIS LINE */